:root {
  --text-color: #404040;
}
body {
  font-family: system,-apple-system,system-ui,BlinkMacSystemFont,sans-serif;
  color: var(--text-color);
  font-size: 1.2rem;
  max-width: 45rem;
  margin: 0 auto 0 auto;
  padding: 0 1rem 1rem;
}
header {
  text-align: center;
}
h1 {
  font-size: 3rem;
  font-weight: 500;
}
.content {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
details > div {
  border-left: 1px dashed black;
  padding-left: 1rem;
}
summary {
  cursor: pointer;
}
a {
  color: var(--text-color);
}
.hljs {
  background: #F6F8FA;
}
code {
  background: #F6F8FA;
}
.sec-anchor {
  visibility: hidden;
  font-weight: normal;
  text-decoration: none;
}
h3:hover > span > .sec-anchor {
  visibility: initial;
}
h3 {
  padding-top: .8em;
}
.anchor-box {
  margin-left: -.8em;
  float: left;
  width: .8em;
}
.signature {
  font-style: italic;
  float: right;
  margin-right: 10em;
  margin-bottom: 3rem;
}
.nowrap {
  white-space: nowrap;
}
